ENV=dev
SECURITY__ALGORITHM=RS256
KAFKA__BOOTSTRAP_SERVER=fastchat_kafka:9092
MONGODB_HOST=mongodb_container
MONGODB_PORT=27017
MONGODB_USER=rootadmin
MONGODB_PASSWORD=secretpassword
DATABASE__NAME=notifications
MONGO_EXPRESS_PORT=8081
